<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'car/css/car_list.css' %}" >
        <link rel="stylesheet" href="{% static 'css/car_index.css' %}" >

    </head>
    <body>
        <h1> Car List</h1>

        <ul>
        {% for car in cars %}
            <li>  {{ car.name}}</li>
            <img src="{{car.image.url }}"  />
           


        {% endfor %}

        </ul>
        
        <script src="" async defer></script>
    </body>
</html>